server:
  port: 8080  

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pmis_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: pmis
    password: Pmis1234^^
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update  
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
logging:
  level:
    org.hibernate.SQL: DEBUG  